:root{
    --main-color: #2e9322;
    --main-color2:#0d068b;
    --black: #13131a;
    --nomes: #222;
    --cor: #97d907;
    --border: 0.1rem solid rgba(195, 195, 195, 0.583);
    font-size: 10px;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;

}

section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
  
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: #ffffff;
    
}
.logo img {
    width: 120px;
    height: auto; /* Mantém a proporção */
  }
  .header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
.navbar a{
    margin: 0 1rem;
    font-size: 2rem;
}

.navbar a:hover {
    color: var(--main-color2);
    border-bottom: 0.1rem solid var(--main-color2);
    padding-bottom: 0.5rem;
    font-size: 2rem;
}
.icons img{
    margin: 1rem;
    cursor: pointer;
}
.icons img:hover{
    width: 40px;
    height: 40px;

}
.btn{
    background: #007BFF;
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}
.btn:hover{
    letter-spacing: 0.1rem;
}
.top-bar {
    background-color: var(--main-color); /* ou #4CAF50 se quiser o verde */
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding: 8px 0;
  }
  .top-bar .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
  
  .top-bar .left {
    display: flex;
    gap: 20px; /* espaço entre os dois textos à esquerda */
    align-items: center;
  }
  
  .top-bar i {
    margin-right: 5px;
  }
  
/*PARA MUDAR A IMAGEM DE FUNDO*/
.home-container{
    background: url("./img/Orthopedic\ Prosthetics\ Market\ Upcoming\ Trends\ and\ Overview\ Forecast\ till\ 2031.jpg") ;
    background-position: center;
    background-size: cover;
}
.home-container section{
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content {
    max-width: 60rem;
}
.content h3{
    color: #222;
    font-size: 6rem;
}
.content p{
    color:#222;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem;
}
.title {
    font-size: 5rem;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}
.title span {
    color: #333;
    text-transform: uppercase;
}
.about .row{
    display: flex;
    align-items: center;
    background-color: var(--nomes);
}
.about .row .content {
    padding: 2rem;
}
.about .row .content h3{
    font-size: 3rem;
    color:#fff;
}
.about .row .content p{
    font-size: 1.4rem;
    color:#fff;
    padding: 1rem 0;
    line-height: 1.8;
    text-transform: none;
}
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 1.5rem;
}
.menu .box-container .box{
    text-align:center;
    border: var(--black);
    padding: 5rem;
    cursor: pointer;
}
.menu .box-container .box img{
    height: 10rem;
}
.menu .box-container .box h3{
    color: var(--nomes);
    font-size: 2rem;
    padding: 1rem 0;
}
.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding: 0.5rem 0;
}
.menu .box-container .box .price span{
    font-size:1.5rem;
    text-decoration: line-through;
    font-weight:lighter;
}
.menu .box-container .box:hover{
    background-color: var() ;
}
.address {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer {
    text-align: center;
}
.footer .share{
    padding: 1rem 0;
}
.footer .share img {
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}
.footer .share img:hover {
    background-color: #6ac707;
}


